body{
    background-color: #4cc5f151;
    font-family: 'Times New Roman', Times, serif;
    
}
.container{
    display: flex;
    flex-direction: column;
min-width: 780px;
}
#Intro{

    background-color: #00affa;
    color: #244855;
    padding: 10px;
    border-radius:10px;
    
}

.Bottom{
    color: #244855;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #d0d3fb;
    
    border-radius: 10px;
    
}
.note{
    padding-bottom: 10px;
}
.images{
    
    justify-content: space-between;
    background-color: #d0d3fb;
    border-radius: 5px;

}

#Links{
    text-align: center;
    color: #fbe9d0;
    background-color: white;
    border-radius: 5px;
    
}
/* @media{
    max-width: 780px;
    .container{
        display: flex;
        flex-direction: column;
    }
    .images{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #Intro{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #Links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
} */
