body{
    background-color: #244855;
    font-family: 'Times New Roman', Times, serif;
    
}
#Intro{
    background-color: #fbe9d0;
    color: #244855;
    padding: 10px;
    
}
#Projects{
    background-color: #fbe9d0;
    color: #244855;
    
    
}
.Bottom{
    background-color: #fbe9d0;
    color: #244855;
    padding: 10px;
    
}